html,
body {
  background-color: #f5f5f5 !important;
}
.montserrat {
  font-family: 'Montserrat', sans-serif !important;
}
.montserrat {
  font-family: 'Ubuntu', sans-serif;
!important
}
!important
.ubuntu {
  font-family: 'Ubuntu', sans-serif !important;
}
.page-container .page-content-wrapper .content {
  padding-top: 0 !important;
}
.text-morado {
  color: #64387d !important;
}
.font-OpenSans {
  font-family: font-OpenSans;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  .mt-20 {
    margin-top: 0px;
  }
}
.mt-30 {
  margin-top: 30px;
}
@media (min-width: 320px) and (max-width: 425px) {
  .mt-30 {
    margin-top: 5vh;
  }
}
@media only screen and (max-width: 768px) {
  .mt-30 {
    margin-top: 15px;
  }
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mt-60 {
  margin-top: 60px !important;
}
.pace .pace-progress {
  background: #fd1d1d !important;
  height: 3px;
}
.pace .pace-progress-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pace .pace-activity {
  -webkit-animation: none;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
  top: 73px;
  background: url("/img/progress/progress-circle-danger.svg") no-repeat top left;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  margin: 0 auto;
  border-width: 0;
  border-radius: 0;
  width: 28px;
  height: 40px;
  right: 19px;
  left: auto;
}
.img-responsive {
  max-width: 100%;
  height: 100%;
  display: block;
}
.bold {
  font-weight: bold !important;
}
.btn-orange {
  background-color: #f26f0b;
  color: #fff;
}
.minh-40 {
  display: block;
  min-height: 40vh;
}
.minh-30 {
  display: block;
  min-height: 30vh;
}
.minh-35 {
  display: block;
  min-height: 35vh;
}
.minh-20 {
  display: block;
  min-height: 20vh;
}
.p-l-r-2 {
  padding: 0px 2px;
}
.fz-23 {
  font-size: 23px !important;
}
.bold {
  font-weight: bold !important;
}
.semi-bold {
  font-weight: 400 !important;
}
.light {
  font-weight: 100 !important;
}
.index {
  display: block;
}
.index .bg-img1 {
  background-image: url("../images/img1.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.index .bg-img2 {
  background-image: url("../images/img2.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.index .bg-img3 {
  background-image: url("../images/img3.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.index .bg-img4 {
  background-image: url("../images/img4.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.index .bg-img5 {
  background-color: #d5673b;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  text-align: center;
  display: block;
}
.index .bg-img5 .middle {
  display: table-cell;
  vertical-align: middle;
  height: 35.1vh;
  width: 100vw;
}
.index .bg-img5 h1 {
  color: #fff;
  font-size: 2em;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 20px;
}
.index .nav-tabs-team {
  position: relative;
}
.index .nav-tabs-team .tab-content {
  min-height: 40vh;
}
.index .nav-tabs-team .tab-content .contenido {
  padding: 4em 0;
}
.index .tipos-techos {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  text-align: center;
}
.index .tipos-techos li {
  display: inline-block;
  text-align: center;
  padding: 0 4em;
}
.index .tipos-techos li .fa {
  color: #d5673b;
  font-size: 16px;
}
.index .tipos-techos li h3 {
  font-weight: 300 !important;
}
.index .asociados {
  position: relative;
  padding: 2em 0em;
}
.index .asociados figure {
  margin: 0 auto;
  text-align: center;
}
.index .asociados figure img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.index .productos {
  padding-bottom: 4em;
  position: relative;
}
.index .productos h1 {
  background-color: #d8d8d8;
  padding: 1em 0em;
}
.index .productos figure {
  margin: 0 auto;
  text-align: center;
  width: 300px;
}
.index .productos figure img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.index .productos figure figcaption {
  text-align: center;
  background-color: #b0cce1;
  padding: 0.2em 0em;
  width: 275px;
  margin: 0 auto;
}
.index .productos figure figcaption h4 {
  text-transform: uppercase;
}
.index .productos a:hover {
  text-decoration: none;
}
.index .catalogos {
  background-color: #d5673b;
  padding: 1em 0em;
}

.index .catalogos h1 {
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
.index .catalogos form {
  margin-top: 1.3em;
}
@media only screen {
  .index .catalogos form {
    margin-left: 20px;
  }
}
.index .catalogos form .catalogo {
  width: 350px !important;
}
@media only screen and (max-width: 1990px) {
  .index .catalogos form .catalogo {
    width: 350px !important;
  }
}
@media only screen and (max-width: 768px) {
  .index .catalogos form .catalogo {
    width: 270px !important;
  }
}
@media only screen {
  .index .catalogos form .catalogo {
    width: 100%;
  }
}
.index .catalogos form .btn {
  text-transform: uppercase;
  font-weight: 400;
}
.index .contactenos {
  padding-bottom: 2em;
}
.index .contactenos h1 {
  color: #d5673b;
  text-transform: uppercase;
  font-weight: 400;
}
.index .contactenos h2 {
  color: #025283;
}
.index .contactenos .texto {
  text-align: left;
}
.index .contactenos .tlf {
  font-size: 24px;
  text-align: center;
}
.index .contactenos h1,
.index .contactenos h2 {
  text-align: center;
}
.index .contactenos .social {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  text-align: center;
}
.index .contactenos .social li {
  display: inline-block;
  padding: 0 1em;
}
.index .contactenos .social li img {
  width: 42px;
}
.index .contactenos .form-group {
  margin-top: 2em;
}

.index h1{
  font-size: 10px !important;
}
