.minh-40
	display block
	min-height 40vh
	
.minh-30
	display block
	min-height 30vh
	
.minh-35
	display block
	min-height 35vh


.minh-20
	display block
	min-height 20vh
	
.p-l-r-2
	padding 0px 2px !important
	
.fz-23
	font-size 23px !important
	
.bold
	font-weight bold !important

.semi-bold 
	font-weight 600 !important
	
.light 
	font-weight 100 !important

.index
	display block
	
	.bg-img1
		bg-image(url(../images/img1.png))
		bg-repeat(no-repeat)
		bg-position(center, center)
		bg-size(cover)
	
	.bg-img2
		bg-image(url(../images/img2.png))
		bg-repeat(no-repeat)
		bg-position(center, center)
		bg-size(cover)
	
	.bg-img3
		bg-image(url(../images/img3.png))
		bg-repeat(no-repeat)
		bg-position(center, center)
		bg-size(cover)
	
	.bg-img4
		bg-image(url(../images/img4.png))
		bg-repeat(no-repeat)
		bg-position(center, center)
		bg-size(cover)
	
	.bg-img5
		//bg-image(url(../images/img4.png))
		bg-color(color-naranja)
		bg-repeat(no-repeat)
		bg-position(center, center)
		bg-size(cover)
		

		relative()
		text-align center
		display block
		.middle
			display table-cell
			vertical-align middle
			height 35.1vh
			width 100vw
			
		h1 
			color color-white
			font-size 2em
			font-style italic
			font-weight 400
			margin-bottom 20px
			
	.nav-tabs-team
		relative()
		//min-height 100vh
		.tab-content
			min-height 40vh
			.contenido
				padding 4em 3em
				

	.tipos-techos
		margin 0 0 0 0
		padding 0 0 0 0
		list-style none
		text-align center
		li 
			display inline-block
			text-align center
			padding 0 4em
			
			.fa
				color color-naranja
				font-size 16px
				
			h3
				font-weight 300 !important
				

	.asociados
		relative()
		padding 2em 0em	
		figure 
			margin 0 auto
			text-align center
			img 
				max-width 100%
				height auto
				display block
				margin 0 auto
	
	.productos
		padding-bottom 4em
		relative()	
		h1 
			bg-color(#d8d8d8)
			padding 1em 0em
			
		figure 
			margin 10px auto
			text-align center
			width 300px
			img 
				max-width 100%
				height auto
				display block
				margin 0 auto
				
			figcaption
				text-align center
				bg-color(#b0cce1)
				padding 0.2em 0em
				width 275px
				margin 0 auto
				
				h4
					text-transform uppercase
					
		a
			&:hover
				text-decoration none
		

	.proyectos
		padding-bottom 4em		
		relative()	
		bg-color(#e4e4e4)
		h1 
			bg-color(#025283)
			color color-white
			padding 1em 0em
			
		figure 
			margin 0px auto
			width 100%
			height 250px
			display block
			background-position center center
			background-repeat no-repeat
			background-size cover
			+below(768px)
				margin 10px auto
			
			img 
				max-width 100%
				height auto
				display block
				margin 0 auto
				
			figcaption
				display none													
		a
			&:hover
				text-decoration none
				figcaption
					display block
					background-color rgba(0, 0, 0, 0.59)
					height 100%
					h3 
						margin 0em 0em 0em 0em	
						padding-top 4em 
						padding-left 10%
						padding-bottom 1em
					p 
						padding-left 10% 
						margin 0em 0em 0em 0em	 
						
					h1, h2, h3, h4, h5, h6, p 
						color color-white	
				
	.catalogos
		bg-color(color-naranja)
		padding 1em 0em
		h1 
			color color-white
			font-size 28px
			text-transform uppercase
			font-weight 400
			text-align center
			
		form 
			margin-top 1.3em
			+below(345)
				margin-left 20px
			.catalogo
				width 350px !important
				+below(1990px)
					width 350px !important
				+below(768px)
					width 270px !important
				+below(345)
					width 100%
				
			.btn 
				text-transform uppercase
				font-weight 400
				

	.contactenos
		padding-bottom 2em
		h1 			
			color color-naranja
			text-transform uppercase 
			font-weight 400
		h2 
			color #025283
		.texto
			text-align left
		.tlf 
			font-size 24px
			text-align center
		h1, h2
			text-align center	
			
		.social
			margin 0 0 0 0
			padding 0 0 0 0
			list-style none
			text-align center
			li 
				display inline-block
				padding 0 1em
				img 
					width 42px
					
		.form-group
			margin-top 2em